/* UI */

.purple-text {
  color: rgba(80, 26, 168, 1);
}

.semi-bold-span {
  font-weight: 600;
}

.no-events {
  pointer-events: none !important;
  cursor: default !important;
}

.orange-button {
  position: relative;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background: #FF8E09;
  box-shadow: -4px -4px 17px rgba(247, 119, 27, 0.5);
  border-radius: 500px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.orange-button::after {
  content: "Записаться на прием";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  background: linear-gradient(180deg, #F7771B 0%, #E75D32 100%);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.orange-button:hover::after {
  opacity: 0;
}

.orange-button:hover {
  box-shadow: none;
}

.orange-button:active {
  background: #E4790D;
  box-shadow: none;
}

.transparent-button {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border: 1px solid rgba(245, 136, 42, 1);
  border-radius: 500px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.transparent-button:hover {
  border: 1px solid #FF8E09;
  background: #FF8E09;
}

.transparent-button:active {
  border: 1px solid #FF8E09;
  background: #E4790D;
}

.link-inherit {
  text-decoration: inherit;
}

.video-play {
  width: 80px;
  height: 80px;
  background: #FB7E01;
  mix-blend-mode: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: calc(50%);
  right: -40px;
  transform: translateY(-50%);
  position: absolute;
  cursor: pointer;
  animation: radial-pulse 1s infinite;
  transition: all 0.4s ease-in-out;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgb(255 255 255 / 50%);
  }

  100% {
    box-shadow: 0 0 0 40px rgb(255 255 255 / 0%);
  }
}

.normal-span {
  font-weight: 400;
}

/* stb */

.stb {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 86px;
}

.stb__container {
  position: relative;
  max-width: 1360px;
  margin: 0 auto;
  padding: 40px 0;
}

.stb__content-container {
  position: relative;
  z-index: 2;
  max-width: 800px;
}

.stb__title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 94px;
  line-height: 136px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: -8px -17px 24px rgba(255, 255, 255, 0.3);
  margin: 0;
}

.stb__subtitle {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 62px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.stb__text {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 160%;
  color: #FFFFFF;
  margin: 15px 0 0;
}

.stb__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
  padding: 0;
  margin: 30px 0 0;
}

.stb__list-item {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 10px;
}

.stb__list-item-dot {
  background-image: url(../images/stb-check.svg);
  min-width: 28px;
  min-height: 28px;
}

.stb__buttons-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 60px;
}

.stb__orange-button {
  font-weight: 300;
  width: 283px;
  height: 65px;
}

.stb__transparent-button {
  font-weight: 300;
  width: 214px;
  height: 65px;
}

@media screen and (max-width: 1360px) {
  .stb__container {
    max-width: none;
    padding: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .stb {
    padding-top: 56px;
  }

  .stb__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 60px;
  }

  .stb__list {
    margin-top: 20px;
  }

  .stb__list-item {
    flex-direction: column;
    align-items: center;
  }

  .stb__buttons-container {
    flex-direction: column;
    align-items: center;
    max-width: 326px;
    margin: 20px auto 0;
  }

  .stb__orange-button {
    width: 100%;
  }

  .stb__transparent-button {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .stb__title {
    font-size: 52px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .stb__subtitle {
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.045em;
  }

  .stb__text {
    font-weight: 200;
    font-size: 22px;
    line-height: 160%;
  }
}

/* stb-moon-calendar */

.stb-moon-calendar {
  background-image: url(../images/stb-bg.png);
  background-color: #06111B;
}

.stb-moon-calendar::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 198px;
  left: 0;
  bottom: -1px;
  background: linear-gradient(180deg, rgba(6, 17, 27, 0) 0%, rgba(6, 17, 27, 0.493997) 43.56%, #06111B 100%);
}

@media screen and (max-width: 500px) {
  .stb-moon-calendar {
    background-image: url(../images/stb-bg-mob.png);
    background-size: contain;
    background-position: top;
  }
}

/* doctor-video */

.doctor-video {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(../images/doctor-video-bg.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.doctor-video::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 210px;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(6, 17, 27, 0) 0%, rgba(6, 17, 27, 0.493997) 43.56%, #06111B 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.doctor-video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 260px;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(6, 17, 27, 0) 0%, rgba(6, 17, 27, 0.493997) 43.56%, #06111B 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.doctor-video__container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.doctor-video__content-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1360px;
  width: 100%;
  padding: 160px 0 140px;
  margin: 0 auto;
}

.doctor-video__text-container {
  position: relative;
}

.doctor-video__quote {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.01em;
  background: linear-gradient(180deg, #F7771B 0%, #E75D32 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  z-index: 1;
  margin: 0;
}

.doctor-video__quote-img {
  width: 120px;
  height: 90px;
  background-image: url(../images/video-quotes.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: -60px;
  top: 0;
  z-index: 0;
}

.doctor-video__title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #FFF;
  max-width: 595px;
  margin: 10px 0 0;
}

.doctor-video__subtitle {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #FFF;
  max-width: 595px;
  margin: 15px 0 0;
}

.doctor-video__doctor-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 25px;
}

.doctor-video__doctor-name {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin: 0;
}

.doctor-video__doctor-position {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #6E6E6E;
  margin: 0;
}

.doctor-video__video-container {
  position: relative;
  display: block;
  border-radius: 14px;
}

.doctor-video .youtube-compact:hover:after {
  opacity: 0.8;
  color: #fff;
  border-bottom: 1px dashed transparent;
}

.doctor-video__video {
  position: relative;
  border-radius: 14px;
  pointer-events: all;
}

.doctor-video__video-text {
  position: absolute;
}

.doctor-video__video-play {
  right: inherit;
  bottom: inherit;
  top: 50%;
  left: 0;
  background: #FB7E01;
  transform: translateX(-50%) translateY(-50%);
  filter: drop-shadow(0px 4px 15px rgba(251, 126, 1, 0.4));
  animation: radial-pulse 1s infinite;
  z-index: 1;
}

.doctor-video__video-play img {
  margin-left: 5px;
}

.doctor-video__video-play:hover {
  opacity: 0.6;
  filter: none;
}

.doctor-video__video-play:active {
  opacity: 1;
  background: #CB6201;
  filter: none;
}

@media screen and (max-width: 1440px) {
  .doctor-video__quote-img {
    left: -20px;
    top: 0;
  }
}

@media screen and (max-width: 1360px) {
  .doctor-video__content-container {
    max-width: none;
    padding: 40px;
  }

  .doctor-video__video-container {
    max-width: 600px;
  }

  .doctor-video__video {
    max-width: 600px;
  }
}

@media screen and (max-width: 1270px) {
  .doctor-video__content-container {
    max-width: none;
    padding: 40px;
  }

  .doctor-video__video-container {
    max-width: 600px;
  }

  .doctor-video__video {
    max-width: 600px;
  }

  .doctor-video__quote-img {
    left: -20px;
    top: 0;
  }
}

@media screen and (max-width: 1000px) {
  .doctor-video__content-container {
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 130px;
  }

  .doctor-video__video {
    width: 100%;
    height: 100%;
  }

  .doctor-video__video-container {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 340px;
  }

  .doctor-video__video-container::before {
    display: none;
  }

  .doctor-video__video-play {
    left: 50%;
  }

  .doctor-video__title {
    font-size: 28px;
    line-height: 135%;
    margin-bottom: 10px;
  }

  .doctor-video__subtitle {
    padding-top: 380px;
    margin: 0;
  }

  .doctor-video__quote-img {
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    width: 78px;
    height: 60px;
  }

  .doctor-video__video-container::after {
    font-size: 18px;
    line-height: 27px;
    bottom: 10px;
  }

  .doctor-video__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16.5px;
  }

  .doctor-video__doctor-container {
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .doctor-video {
    background-position: bottom right;
    background-image: url(../images/doctor-video-bg-mob.png);
  }

  .doctor-video::before {
    display: none;
  }

  .doctor-video__title {
    max-width: 325px;
  }

  .doctor-video__subtitle {
    font-weight: 300;
    font-size: 26px;
    line-height: 160%;
    padding-top: 260px;
  }

  .doctor-video__video-container {
    max-width: 375px;
    width: 100%;
    height: auto;
    top: 260px;
  }

  .doctor-video__video {
    border-radius: 0;
  }
}

/* video tube */

.videotube-modal-overlay {
  color: #fff;
  display: none;
  z-index: 9999;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .9);
  text-align: center
}

#videotube-modal-container {
  z-index: 9999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

#videotube-modal-container iframe,
.nav-circle {
  position: relative
}

#videotube-modal {
  text-align: center;
  -webkit-box-shadow: 0 0 40px #333;
  box-shadow: 0 0 40px #333
}

#videotube-modal-loading {
  position: fixed;
  z-index: 997;
  font-size: 1.5em;
  top: 49%;
  width: 5%;
  text-align: center;
  left: 45%
}

#videotube-modal-close {
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 3px 13px;
  z-index: 999;
  font-size: 25px;
  text-shadow: 0 0 10px #fff;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition-duration: .1s;
  -o-transition-duration: .1s;
  transition-duration: .1s
}

#videotube-modal-close:hover {
  background: #333
}

/* header last */

.header {
  font-family: 'Jost';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 23px;
  z-index: 1000;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s
}

.header.--scroll {
  background-color: rgba(0, 0, 0, .9);
  -webkit-box-shadow: 0 4px 20px rgba(165, 165, 165, .2);
  box-shadow: 0 4px 20px rgba(165, 165, 165, .2)
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto;
}

.logo {
  max-width: 187px
}

.prize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.prize__pic {
  margin-right: 5px;
  -webkit-filter: drop-shadow(-4px -2px 20px #416172);
  filter: drop-shadow(-4px -2px 20px #416172);
  max-width: 40px
}

.prize__pic img {
  width: 40px;
  height: 40px;
}

.prize__text {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  line-height: 139%;
}

.prize__text .normal-span {
  color: #fff;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.socials__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .05);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  margin-right: 15px
}

.socials__link:last-child {
  margin-right: 0
}

.socials__link:hover {
  background-color: rgba(255, 255, 255, .15)
}

.socials__link:hover.--vk {
  background-color: #3375f6
}

.socials__link:hover.--tm {
  background-color: #5d9dcc
}

.socials__link:hover.--yt {
  background-color: red
}

.header__contact {
  text-align: center;
  cursor: pointer;
}

.header__contact-name {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #fff
}

.header__contact-link {
  font-weight: 300;
  font-size: 11px;
  line-height: 15px;
  border-bottom: 1px dashed #b1b1b1;
  color: #b1b1b1;
  text-transform: uppercase;
  -webkit-transition: border .4s;
  -o-transition: border .4s;
  transition: border .4s
}

.header__contact-link:hover {
  border-bottom-color: transparent
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 30px
}

.nav__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: .02em;
  text-transform: uppercase;
  color: #b1b1b1;
  -webkit-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s
}

.nav__link:hover {
  color: #fff
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 67px;
  padding-left: 55px;
  padding-right: 55px;
  border-radius: 10px;
  position: relative;
  border: none;
  cursor: pointer;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px
}

.btn.btn--small {
  height: 46px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px
}

.btn span {
  position: relative;
  z-index: 10
}

.btn.btn--orange {
  color: #fff;
  background-color: transparent
}

.btn.btn--orange:not(.btn--small) {
  background-color: transparent;
  border: 2px solid transparent
}

.btn.btn--orange:not(.btn--small):after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 5
}

.btn.btn--orange:not(.btn--small):hover {
  color: #f76633;
  border: 2px solid #f76633
}

.btn.btn--orange:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#eb8946), to(#f76633));
  background: -o-linear-gradient(top, #eb8946 0, #f76633 100%);
  background: linear-gradient(180deg, #eb8946 0, #f76633 100%);
  -webkit-box-shadow: -4px -2px 20px rgba(255, 126, 7, .3);
  box-shadow: -4px -2px 20px rgba(255, 126, 7, .3);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  z-index: 7
}

.btn.btn--orange:hover:before {
  opacity: 0
}

.btn.btn--orange.btn--small {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px
}

.btn.btn--orange.btn--small:hover {
  background-color: rgba(255, 255, 255, .1)
}

.btn.btn--dark {
  background: rgba(255, 255, 255, .05);
  color: #fff
}

.btn.btn--dark:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#eb8946), to(#f76633));
  background: -o-linear-gradient(top, #eb8946 0, #f76633 100%);
  background: linear-gradient(180deg, #eb8946 0, #f76633 100%);
  -webkit-box-shadow: -4px -2px 20px rgba(255, 126, 7, .3);
  box-shadow: -4px -2px 20px rgba(255, 126, 7, .3);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  z-index: 7;
  opacity: 0
}

.btn.btn--dark:hover {
  color: #fff
}

.btn.btn--dark:hover::before {
  opacity: 1
}

.header__contact {
  text-align: center
}

.header__contact-name {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #fff
}

.header__contact-link {
  font-weight: 300;
  font-size: 11px;
  line-height: 15px;
  border-bottom: 1px dashed #b1b1b1;
  color: #b1b1b1;
  text-transform: uppercase;
  -webkit-transition: border .4s;
  -o-transition: border .4s;
  transition: border .4s
}

.header__contact-link:hover {
  border-bottom-color: transparent
}


.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.header__transparent-button {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  width: 191px;
  height: 46px;
}

.phone {
  display: none;
}

.burger {
  display: none;
}

@media screen and (max-width: 1360px) {
  .header__wrap {
    max-width: none;
    padding: 0 20px;
  }
}

@media screen and (max-width: 1200px) {
  .header__wrap .prize {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 18px 0;
  }

  .header__wrap .socials {
    display: none;
  }

  .header__wrap .header__contact {
    display: none;
  }

  .header__wrap .header__btn {
    display: none;
  }

  .phone {
    display: flex;
  }

  .burger {
    display: flex;
  }
}

/* footer last */

.footer {
  font-family: 'Jost';
  background: #06111B;
}

.footer__wrap {
  max-width: 1360px;
  margin: 0 auto;
}

.footer-top {
  padding-top: 47px;
  padding-bottom: 48px
}

.footer-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.footer-top .btn--dark {
  margin-right: 12px
}

.footer-top .btn--dark:hover {
  background-color: #fff
}

.footer-top .btn--dark:hover span {
  color: #000
}

.footer-top .btn--dark:hover:before,
.nav__hidden {
  display: none
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 44px 0 45px
}

.footer__nav-link {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  width: calc(20% - 5px);
  margin-bottom: 15px;
  opacity: .8;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s
}

.footer__nav-link:hover {
  opacity: 1
}

.underground {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, .05);
  border-bottom: 1px solid rgba(255, 255, 255, .05)
}

.underground__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.underground__ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 45px;
  height: 42px;
  background: rgba(255, 255, 255, .05);
  border-radius: 15px;
  margin-right: 10px
}

.underground__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1px
}

.underground__address {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666
}

.underground__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.underground__item.--purple path {
  fill: #7c50c4
}

.underground__item.--purple .underground__name {
  color: #7c50c4
}

.underground__item.--blue path {
  fill: #82c0c0
}

.underground__item.--blue .underground__name {
  color: #82c0c0
}

.underground__item.--orange path {
  fill: #fc8e28
}

.underground__item.--orange .underground__name {
  color: #fc8e28
}

.underground__item.--yellow path {
  fill: #efc748
}

.underground__item.--yellow .underground__name {
  color: #efc748
}

.underground__item.--grey path {
  fill: #a3a5b3
}

.underground__item.--grey .underground__name {
  color: #a3a5b3
}

.footer-bottom {
  padding-top: 26px;
  padding-bottom: 28px;
}

.fotter-bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px
}

.fotter-bottom-wrap p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff
}

.copyright {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: #666
}

.footer-top-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 635px
}

.footer__transparent-button {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  width: 167px;
  height: 46px;
}

.footer__orange-button {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  width: 191px;
  height: 46px;
}

@media screen and (max-width: 1360px) {
  .footer__wrap {
    max-width: none;
    padding: 0 20px;
  }
}

@media screen and (max-width: 1200px) {
  .footer__wrap .socials {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    margin-top: -1px;
  }

  .footer-top {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .footer-top .container {
    flex-direction: column;
    align-items: center;
  }

  .footer__wrap .socials {
    display: flex;
    margin-top: 20px;
  }

  .footer__wrap .header__contact {
    margin-top: 20px;
  }

  .footer__transparent-button {
    width: 290px;
    height: 46px;
    margin-top: 20px;
  }

  .footer__orange-button {
    width: 290px;
    height: 46px;
    margin-top: 10px;
  }

  .underground {
    padding: 20px 0;
  }

  .underground__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .underground__item {
    gap: 12px;
    margin: 0 auto;
  }

  .underground__item.--yellow {
    order: 10;
  }

  .footer-bottom {
    padding: 0 0 10px;
  }

  .fotter-bottom-wrap {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .footer__wrap {
    padding: 0;
  }

  .copyright {
    padding: 0 20px;
  }
}

/* main scroll */

.main__scroll {
  position: absolute;
  width: 67px;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  right: 40px;
  bottom: 0;
  margin-bottom: 60px;
  background-color: rgba(0, 0, 0, .2);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  z-index: 2;
}

.main__scroll:hover {
  background-color: rgba(0, 0, 0, .4)
}

.main__scroll img {
  width: 15px;
  height: 28px;
  -webkit-animation: 1.5s ease-in-out infinite animateScroll;
  animation: 1.5s ease-in-out infinite animateScroll
}

@-webkit-keyframes animateScroll {

  0%,
  100% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px)
  }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px)
  }
}

@media screen and (max-width: 1000px) {
  .main__scroll {
    display: none;
  }
}

/* accordions-list */

.accordions-list {
  list-style-type: none;
  padding: 0;
}

.accordion-item {
  overflow: hidden;
  border-radius: 25px;
}

.accordion-item.accordion-item_active {
  overflow: visible;
}

.accordion-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  padding: 26px 30px 28px;
}

.accordion-body {
  max-height: 0;
  background-color: #fff;
  transition: all 0.3s;
}

.accordion-item_active .accordion-body {
  max-height: 10000px;
}

.accordion-arrow-svg {
  transition: all 0.3s;
}

/* calendar */

.calendar {
  position: relative;
  background-image: url(../images/calendar-bg.png);
  background-color: #06111B;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.calendar::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 260px;
  background: linear-gradient(180deg, rgba(6, 17, 27, 0) 0%, rgba(8, 21, 34, 0.493997) 43.56%, #081522 100%);
  transform: rotate(180deg);
}

.calendar::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 370px;
  background: linear-gradient(180deg, rgba(6, 17, 27, 0) 0%, rgba(6, 17, 27, 0.493997) 36.27%, rgba(6, 17, 27, 0.81) 69.09%, #06111B 100%);
}

.calendar-blur-bg {
  position: absolute;
  top: 340px;
  left: 50%;
  transform: translateX(-50%);
  width: 99%;
  height: 215px;
  background: #307DDB;
  filter: blur(275px);
  border-radius: 50%;
}

.calendar-moon-bg {
  display: none;
  position: absolute;
  right: 0;
  top: -140px;
}

.calendar__container {
  position: relative;
  z-index: 2;
  max-width: 1360px;
  margin: 0 auto;
  padding: 120px 0 210px;
}

.calendar__title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
}

.calendar__title-span {
  font-weight: 300;
}

.calendar-accordions-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 40px auto 0;
  width: 100%;
}

.calendar-accordions-list .accordion-head {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: -0.02em;
  color: #000000;
  border-radius: 25px 25px 0 0;
  transition: all 0.3s;
}

.calendar-accordions-list .accordion-body {
  border-radius: 0 0 25px 25px;
}

.calendar-accordions-list .accordion-item_active .accordion-head {
  background-color: #E87147;
  color: #fff;
}

.calendar-accordions-list .accordion-item_active .accordion-arrow-svg {
  transform: rotate(90deg);
}

.calendar-accordions-list .accordion-item_active .accordion-arrow-path {
  stroke: white;
}

.calendar-accordion-container {
  padding: 30px;
}

.calendar__category-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
  gap: 10px;
}

.calendar__category {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  display: flex;
  align-items: baseline;
  gap: 6px;
}

.calendar__category-color {
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
  border-radius: 5px;
}

.calendar__category-color_green {
  background: #52B84B;
}

.calendar__category-color_salat {
  background: #B2D435;
}

.calendar__category-color_yellow {
  background: #FDF300;
}

.calendar__category-color_orange {
  background: #FA6B1A;
}

.calendar__category-color_red {
  background: #D8242F;
}

.calendar__categories-main-container {
  margin: 20px 0 30px;
}

.calendar__category-title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  color: #919191;
  margin: 0 0 5px;
}

.calendar__category-gird-container {
  display: grid;
  grid-template-columns: 230px 230px;
  gap: 10px 0;
}

.calendar__category-gird-container .calendar__category {
  align-items: center;
}

.calendar__category-table-container {
  margin-top: 30px;
}

.options__content-option {
  position: relative;
}

.options__content-option::after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 10px;
  border-bottom: 1px dashed #919191;
  z-index: 0;
}

.options__content-options-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  margin-top: 15px;
}

.options__content-option {
  width: 100%;
  display: flex;
  gap: 6px;
  justify-content: space-between;
  align-items: flex-start;
}

.options__content-option-title-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 571px;
}

.options__content-option-title {
  position: relative;
  z-index: 2;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 135%;
  color: #000;
  max-width: 571px;
  /* background: #fff; */
  margin: 0;
  /* border-bottom: 1px solid white; */
  text-decoration: underline white 4px;
}

.options__content-dots {
  border-bottom: 1px dashed #BFBFBF;
  transform: translateY(20.5px);
}

.options__content-option-subtitle {
  position: relative;
  z-index: 2;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 175%;
  color: #000;
  width: 100%;
  max-width: 320px;
  text-align: left;
  background: #fff;
  margin: 0;
}

.calendar__green-text {
  font-weight: 400;
  color: #52B84B;
}

.calendar__orange-text {
  font-weight: 400;
  color: #FB7E01;
}

.calendar__red-text {
  font-weight: 400;
  color: #D8242F;
}

.calendar__table-section {
  margin-top: 18px;
}

.calendar__calendar-info-container {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.calendar__calendar-info-container .calendar__img {
  width: 100%;
  max-width: 50%;
}

.mark-calendar {
  background-color: white;
}

@media screen and (max-width: 1360px) {
  .calendar__category-gird-container {
    grid-template-columns: 230px;
  }

  .calendar__container {
    max-width: none;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .calendar::before {
    height: 120px;
    background: linear-gradient(180deg, rgba(6, 17, 27, 0) 0%, rgba(6, 17, 27, 0.493997) 36.27%, rgba(6, 17, 27, 0.81) 69.09%, #06111B 100%);
  }

  .calendar__container {
    padding-bottom: 100px;
  }

  .calendar__calendar-info-container {
    flex-direction: column;
    gap: 20px;
  }

  .calendar__calendar-info-container .calendar__img {
    max-width: none;
  }

  .calendar__category-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .calendar__category-gird-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }

  .options__content-option {
    flex-direction: column;
  }

  .options__content-option::after {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .calendar {
    background-image: url(../images/calendar-bg-mob.png);
  }

  .calendar::after {
    display: none;
  }

  .calendar-blur-bg {
    top: 40px;
  }

  .calendar-moon-bg {
    display: block;
  }

  .calendar__container {
    padding: 40px 4px 100px;
  }

  .calendar__title {
    font-size: 32px;
    line-height: 130%;
  }

  .calendar-accordions-list {
    margin-top: 10px;
  }

  .calendar-accordions-list .accordion-head {
    padding: 17px 30px;
  }

  .calendar-accordion-container {
    padding: 0;
  }

  .calendar__category-table-container {
    padding: 0 10px 20px;
  }

  .calendar__calendar-categories-list {
    padding: 0 10px;
  }
}

/* plan */

.plan {
  position: relative;
  background-image: url(../images/plan-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 870px;
  max-height: 870px;
}

.plan::after {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 260px;
  background: linear-gradient(180deg, rgba(6, 17, 27, 0) 0%, rgba(6, 17, 27, 0.493997) 43.56%, #06111B 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.plan::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 180px;
  background: linear-gradient(180deg, rgba(6, 17, 27, 0) 0%, rgba(8, 21, 34, 0.493997) 43.56%, #081522 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.plan__doctor-image {
  position: absolute;
  bottom: -50px;
  left: 20%;
}

.plan__modal-container {
  position: absolute;
  top: 210px;
  right: 10%;
  z-index: 2;
  background: #FFFFFF;
  box-shadow: -33px -19px 113px rgba(3, 10, 74, 0.8), 78px 37px 150px rgba(90, 34, 7, 0.7);
  border-radius: 25px;
  max-width: 530px;
  width: 100%;
  padding: 50px;
}

.plan__modal-title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #06111B;
  margin: 0;
}

.plan__modal-subtitle {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #06111B;
  max-width: 435px;
  margin: 15px auto 0;
}

.plan__modal-subtitle-span {
  font-weight: 500;
  color: #501AA8;
}

.plan__orange-button {
  font-size: 24px;
  line-height: 35px;
  font-weight: 300;
  width: 432px;
  height: 65px;
  border-radius: 555px;
  margin: 30px auto 0;
}

.plan__orange-button::after {
  content: 'Составить план';
  font-weight: 300;
}

@media screen and (max-width: 1440px) {
  .plan__doctor-image {
    left: 0px;
  }

  .plan__modal-container {
    right: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .plan__doctor-image {
    display: none;
  }

  .plan__modal-container {
    position: relative;
    right: inherit;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: -33px -19px 113px rgba(3, 10, 74, 0.8), 78px 37px 150px rgba(90, 34, 7, 0.7);
    padding: 30px 23px;
  }
}

@media screen and (max-width: 500px) {
  .plan {
    background-image: url(../images/plan-bg-mob.png);
    background-color: #06111B;
    background-size: contain;
    background-position: top center;
    min-height: 0;
    max-height: none;
  }

  .plan::after {
    height: 247px;
    background: linear-gradient(180deg, rgba(6, 17, 27, 0) 0%, rgba(6, 17, 27, 0.493997) 43.56%, #06111B 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .plan::before {
    display: none;
  }

  .plan__container {
    padding-top: 550px;
  }

  .plan__doctor-image {
    z-index: 1;
    width: 100%;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .plan__modal-container {
    top: inherit;
    box-sizing: border-box;
    max-width: none;
    width: 98%;
    padding: 30px 23px;
  }

  .plan__modal-title {
    font-size: 32px;
    line-height: 130%;
  }

  .plan__modal-subtitle {
    font-size: 26px;
    line-height: 150%;
  }

  .plan__orange-button {
    width: 289px;
  }
}

/* map */

.map {
  position: relative;
  width: 100%;
  height: 1200px;
  background-color: #06111B;
  padding-top: 140px;
}

.map::after {
  content: "";
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 139px;
  left: 0;
  width: 100%;
  height: 455px;
  background: linear-gradient(180deg, rgba(6, 17, 27, 0) 0%, rgba(6, 17, 27, 0.81) 61.38%, #06111B 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.map::before {
  content: "";
  position: absolute;
  z-index: 2;
  pointer-events: none;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(6, 17, 27, 0) 0%, rgba(6, 17, 27, 0.81) 61.38%, #06111B 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

[class*=ymaps-2-1][class*=-ground-pane] {
  filter: grayscale(1);
  -ms-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1)
}

@media screen and (max-width: 1000px) {
  .map {
    height: calc(770px + 1630px);
    padding-top: 0;
    padding-bottom: 40px;
  }

  .map::before {
    bottom: 39px;
  }

  .map::after {
    height: 160px;
    top: 697px;
  }
}

/* contacts-container */

.contacts__container {
  position: absolute;
  z-index: 3;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1320px;
  width: 100%;
}

.contacts__title {
  position: relative;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 82px;
  line-height: 118px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}

.contacts__links-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  pointer-events: none;
  cursor: default;
  margin-top: 60px;
}

.contacts__link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__link-image {
  pointer-events: none;
  cursor: default;
  margin: 0 auto;
}

.contacts__link-title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  letter-spacing: 0.02em;
  text-shadow: -9px -2px 50px rgba(255, 255, 255, 0.6);
  color: #FFFFFF;
  pointer-events: all;
  cursor: pointer;
  margin: 20px auto 0;
}

.contacts__link-subtitle {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 190%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  pointer-events: all;
  cursor: pointer;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .contacts__container {
    top: -1px;
    width: 100%;
    background-color: #06111B;
    padding-top: 40px;
  }

  .contacts__links-container {
    flex-direction: column;
    align-content: center;
    gap: 30px;
    margin-top: 10px;
  }

  .contacts__title {
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.3em;
  }
}

/* mobile-nav */

.mobile-nav {
  font-family: 'Jost';
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #fff;
  z-index: 1999;
  display: none
}

.mobile-nav .mobile-nav__header {
  background-color: #fff;
  padding: 18px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: sticky;
  left: 0;
  top: 0
}

.mobile-nav__body {
  overflow: scroll;
}

.mobile-nav .prize {
  display: block;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.mobile-nav .prize__pic {
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  max-width: 100%;
  -webkit-filter: none;
  filter: none
}

.mobile-nav .prize__pic img {
  width: 110px;
  height: 110px;
}

.mobile-nav .stb__buttons-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mobile-nav .prize__text-mobile {
  text-align: center;
  font-weight: 300;
  font-size: 26px;
  line-height: 150%;
  color: #000;
  margin: 10px auto 0;
}

.mobile-nav .stb__transparent-button {
  color: #FC8E28;
}

.mobile-nav .stb__transparent-button:active {
  color: #fff;
}

.mobile-nav__clinics {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #666666;
  margin-top: 23px;
}

.mobile-nav__clinics .mobile-nav__clinics-span {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.mobile-nav__phone {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 33px auto 0;
}

@media screen and (max-width: 1000px) {
  .mobile-nav.active {
    display: block
  }
}

/* popup */

.popup {
  display: none;
  position: fixed;
  z-index: 99999;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: visibility 0.4s, opacity 0.4s linear;
}

.popup_opened {
  display: flex;
}

.popup-close {
  position: absolute;
  top: 0;
  right: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 50px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.popup-close svg {
  pointer-events: none;
}

.popup-close:hover {
  background: #FF8E09;
}

.popup-close:active {
  background: #E4790D;
}

.popup-close:hover path {
  stroke: white;
}

.popup-close:active path {
  stroke: white;
}

.popup-close path {
  transition: all 0.4s ease-in-out;
}

/* quiz */

.popup-quiz {
  overflow: scroll;
}

.quiz__container {
  position: relative;
  display: flex;
  border-radius: 25px;
  max-width: 1310px;
  width: 100%;
  height: 540px;
}

.quiz__steps-container {
  position: relative;
  max-width: 931px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 25px 0px 0px 25px;
  box-sizing: border-box;
  padding: 30px;
}

.quiz__step {
  display: none;
}

.quiz__step_active {
  display: block;
}

.quiz__orange-button {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 20px;
  line-height: 29px;
  width: 250px;
  height: 58px;
  border: none;
}

.quiz__orange-button-close::after {
  content: 'Закрыть';
}

.quiz__orange-button-next::after {
  content: 'Следующий шаг';
}

.quiz__step-number {
  position: absolute;
  top: 40px;
  right: 30px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #06111B;
  background: #F7F6F7;
  border-radius: 50px;
  width: max-content;
  padding: 5px 10px;
}

.quiz__step-title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: -0.01em;
  color: #06111B;
  margin: 0;
}

.quiz__step-subtitle {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #06111B;
  margin: 0;
}

.quiz__step-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 277px);
  margin-top: 20px;
}

.quiz__input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.quiz__input-label {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #06111B;
}

.quiz__input {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #06111B;
  width: 277px;
  height: 65px;
  box-sizing: border-box;
  background: #F8F8F8;
  border: 1.5px solid transparent;
  border-radius: 10px;
  padding-left: 27px;
  padding-right: 27px;
  transition: all 0.4s ease-in-out;
}

.quiz__input:active,
.quiz__input:focus {
  border: 1.5px solid #E9E9E9;
  background-color: #fff;
}

.quiz__input {
  outline: none;
}

.input-valid {
  border: 1.5px solid #1C993F;
  background-color: #fff;
}

.input-invalid {
  border: 1.5px solid #FB3D01;
  box-shadow: 0px 0px 6px rgba(251, 61, 1, 0.45);
  background: #FFF5F2;
}

.input-valid-icon {
  position: absolute;
}

.input-invalid-icon {
  position: absolute;
}

.quiz__input-container:has(.input-valid) .input-valid-icon {
  z-index: 2;
  right: 20px;
  top: 50%;
  background-image: url(../images/input-valid.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 26px;
  min-height: 26px;
}

.quiz__input-container:has(.input-invalid) .input-invalid-icon {
  z-index: 2;
  right: 20px;
  top: 50%;
  background-image: url(../images/input-invalid.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 26px;
  min-height: 26px;
}

#quiz-birthday,
#quiz-sex {
  cursor: pointer;
}

.quiz__input-dropdown {
  display: none;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 95px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  overflow: hidden;
}

.quiz__input-dropdown_active {
  display: block;
}

.quiz__input-dropdown-item {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #000000;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.quiz__input-dropdown-item:hover {
  color: #FB7E01;
  background: #FEF6F0;
}

.quiz__input-dropdown-item:nth-child(1) {
  padding: 20px 0 10px 10px;
}

.quiz__input-dropdown-item:nth-child(2) {
  padding: 10px 0 20px 10px;
}

.quiz__input-dropdown-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  background-image: url(../images/quiz-dropdown-ico.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 26px;
  min-height: 26px;
}

.quiz__doctor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F7F6F7;
  border-radius: 0px 25px 25px 0px;
  box-sizing: border-box;
  max-width: 376px;
  padding: 30px;
}

.quiz__doctor-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quiz__doctor-image-container {
  position: relative;
}

.quiz__doctor-image-container::after {
  content: "";
  position: absolute;
  z-index: 2;
  right: 6px;
  bottom: 6px;
  background: #53AE61;
  width: 14px;
  height: 14px;
  border: 2px solid #F7F6F7;
  border-radius: 55px;
}

.quiz__doctor-image {
  min-width: 88px;
  min-height: 88px;
}

.quiz__doctor-name {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #06111B;
  margin: 0;
}

.quiz__doctor-position {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #6E6E6E;
  margin: 0;
}

.quiz__doctor-text {
  position: relative;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #06111B;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 303px;
  padding: 20px 22px;
  margin-top: 30px;
}

.quiz__doctor-text::after {
  content: "";
  position: absolute;
  left: 10px;
  top: -7px;
  width: 17px;
  height: 17px;
  background: #FFF;
  border-radius: 3px;
  transform: matrix(0.72, 0.69, -0.72, 0.69, 0, 0);
}

.quiz__logo {
  margin: auto auto 0;
}

.quiz__back-button {
  position: absolute;
  bottom: 47px;
  right: 30px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #A3A5B3;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.quiz__back-button:hover {
  color: #000;
}

.quiz__option {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #06111B;
  position: relative;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 1.5px solid #E9E9E9;
  border-radius: 10px;
  width: 277px;
  box-sizing: border-box;
  height: 66px;
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.quiz__option:hover {
  color: #FFFFFF;
  background: #501AA8;
}

.quiz__option:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: #FFFFFF;
  border: 1.5px solid #E9E9E9;
  border-radius: 50px;
  min-width: 26px;
  min-height: 26px;
}

.quiz__option_active {
  border-color: #FC8E28;
  color: #FC8E28;
}

.quiz__option_active::after {
  border-color: transparent;
  background-image: url(../images/option-active.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.quiz__option_active:hover {
  border-color: transparent;
}

.quiz__last-step-image {
  margin-bottom: 20px;
}

#quiz-step-3 .quiz__input-container {
  margin: 20px 0;
  width: max-content;
}

.quiz__checkbox-container {
  position: absolute;
  right: 32px;
  bottom: 42px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #A3A5B3;
  display: flex;
  align-items: center;
  gap: 5px;
}

.quiz__checkbox {
  min-width: 20px;
  min-height: 20px;
  border: 1.5px solid #E9E9E9;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .quiz__container {
    margin: 0 20px;
  }

  .popup-quiz .popup-close {
    top: -80px;
    right: 0;
  }

  .quiz__doctor-text {
    padding: 10px;
  }

  .quiz__logo {
    display: none;
  }
}

@media screen and (max-width: 1310px) {
  .quiz__container {
    max-width: none;
  }
}

@media screen and (max-width: 1000px) {
  .quiz__container {
    height: auto;
    flex-direction: column-reverse;
    margin: 20px;
  }

  .popup-quiz .popup-close {
    top: inherit;
    bottom: -80px;
    right: 50%;
    transform: translateX(50%);
  }

  .quiz__doctor-container {
    max-width: none;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
  }

  .quiz__steps-container {
    border-radius: 0px 0px 20px 20px;
  }

  .quiz__step_active {
    display: flex;
  }

  .quiz__step {
    flex-direction: column;
    align-items: center;
  }

  .quiz__step-number {
    position: relative;
    top: inherit;
    right: inherit;
    margin: 0 auto 0 0;
  }

  .quiz__step-number_centered {
    margin: 0 auto;
  }

  .quiz__step-title {
    margin-top: 5px;
  }

  .quiz__step-grid {
    grid-template-columns: repeat(2, 277px);
  }

  .quiz__orange-button {
    position: relative;
    bottom: inherit;
    left: inherit;
    margin-top: 30px;
  }

  .quiz__back-button {
    position: relative;
    bottom: inherit;
    right: inherit;
    margin-top: 20px;
  }

  .quiz__last-step-image {
    margin: 20px auto 5px;
  }

  .quiz__checkbox-container {
    position: relative;
    right: inherit;
    bottom: inherit;
    align-items: flex-start;
    margin: 20px auto 0 0;
  }
}

@media screen and (max-width: 500px) {
  .popup-quiz {
    align-items: flex-start;
  }

  .quiz__step-grid {
    grid-template-columns: 277px;
  }

  .quiz__step-title {
    text-align: center;
  }

  .quiz__step-subtitle {
    text-align: center;
  }

  #quiz-step-3 .quiz__input-container {
    margin: 20px auto 0;
  }
}

/* seo-text */

.seo-text {
  position: relative;
  background-color: #06111B;
  padding-bottom: 135px;
}

.seo-text__container {
  max-width: 1320px;
  transform: translateY(-60px);
  margin: 0 auto;
}

.seo-text__title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin: 0;
}

.seo-text__subtitle {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin: 40px 0 0;
}

.seo-text__paragraph {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin: 15px 0 0;
}

.seo-text__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 14px;
  margin: 15px 0 0;
}

.seo-text__list-item {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}

.seo-text__list-item::marker {
  color: #307DDB;
}

@media screen and (max-width: 1000px) {
  .seo-text {
    padding: 0 40px 20px;
  }

  .seo-text__container {
    transform: translateY(-30px);
  }
}

@media screen and (max-width: 500px) {
  .seo-text__title {
    font-size: 32px;
    line-height: 135%;
  }

  .seo-text__subtitle {
    font-size: 28px;
    line-height: 120%;
  }

  .seo-text {
    padding: 0 16.5px 0;
  }
}